<div class="t3-page-column-header">
    <f:if condition="{column.active}">
        <f:then>
            {column.title}
        </f:then>
        <f:else if="{column.unassigned}">
            {column.title} (<f:format.raw>{column.titleUnassigned}</f:format.raw>)
        </f:else>
        <f:else if="!{hideRestrictedColumns}">
            <f:format.raw>{column.titleInaccessible}</f:format.raw>
        </f:else>
        <f:else>
            <f:format.raw>{column.titleInaccessible}</f:format.raw>
        </f:else>
    </f:if>

    <f:format.json></f:format.json>
    Debug: <code>pages.gc_config=‹{context.pageRecord.gc_config}›</code>
</div>

<f:if condition="{allowEditContent} && {column.contentEditable} && {column.context.allowNewContent}">
    <f:comment>
        <!-- TODO: this element is currently used to indicate a droppable position for CE drag&drop -->
    </f:comment>
    <div class="t3-page-ce t3js-page-ce" data-page="{column.context.pageId}" id="{column.uniqueId}">
        <div class="t3js-page-new-ce t3-page-ce-wrapper-new-ce" id="colpos-{column.columnNumber}-page-{column.context.pageId}-{column.uniqueId}"
            {f:if(condition: '{f:count(subject: column.items)} > 0', then: 'hidden')}
        >
            <a href="{column.newContentUrl}" title="{newContentTitle}" data-title="{newContentTitle}"
                class="btn btn-default btn-sm {f:if(condition:column.context.drawingConfiguration.showNewContentWizard, then: 't3js-toggle-new-content-element-wizard disabled')}">
                <core:icon identifier="actions-add" />
                {newContentTitleShort}
            </a>
        </div>
        <div class="t3-page-ce-dropzone-available t3js-page-ce-dropzone-available"></div>
    </div>
</f:if>
